POSTGRES_APP_USER=mediqueue
POSTGRES_APP_PASSWORD=mediqueue
POSTGRES_APP_DB=mediqueue

PATRONI_SUPERUSER_USERNAME=postgres
PATRONI_SUPERUSER_PASSWORD=postgres
PATRONI_REPLICATION_USERNAME=replicator
PATRONI_REPLICATION_PASSWORD=replicator

PATRONI_WRITER_PORT=55432
PATRONI_READER_PORT=55433
PATRONI_HAPROXY_STATS_PORT=57000
PATRONI_NODE1_REST_PORT=18008
PATRONI_NODE2_REST_PORT=18009
PATRONI_NODE3_REST_PORT=18010
ETCD_1_CLIENT_PORT=23791
ETCD_2_CLIENT_PORT=23792
ETCD_3_CLIENT_PORT=23793
