# Copia este archivo como .env y ajusta los valores
GITHUB_ORG=mediqueue-team
IMAGE_TAG=latest
DB_USER=mediqueue
DB_PASSWORD=CHANGE_ME
REDIS_PASSWORD=CHANGE_ME
RABBITMQ_USER=mediqueue
RABBITMQ_PASSWORD=CHANGE_ME
GRAFANA_USER=admin
GRAFANA_PASSWORD=CHANGE_ME
GATEWAY_URL=http://localhost:8080
