global
    log stdout format raw local0

defaults
    log global
    mode http
    option httplog
    option forwardfor
    option dontlognull
    timeout connect 5s
    timeout client 60s
    timeout server 60s

resolvers docker
    nameserver dns 127.0.0.11:53
    resolve_retries 3
    timeout retry 1s
    hold valid 10s

frontend appointment_frontend
    bind *:8080
    http-request set-header X-Forwarded-Proto http
    default_backend appointment_backend

backend appointment_backend
    balance roundrobin
    option httpchk GET /actuator/health
    http-check expect status 200
    server-template appointment-service- 10 appointment-service:8080 check resolvers docker resolve-prefer ipv4 init-addr libc,none
