global
    log stdout format raw local0

defaults
    log global
    mode tcp
    option tcplog
    option dontlognull
    timeout connect 5s
    timeout client 60s
    timeout server 60s

frontend postgres_frontend
    bind *:5432
    default_backend postgres_primary

backend postgres_primary
    option tcp-check
    tcp-check connect
    server postgres postgres:5432 check
