global
    log stdout format raw local0

defaults
    log global
    mode http
    option httplog
    option forwardfor
    option dontlognull
    timeout connect 5s
    timeout http-request 10s
    timeout queue 30s
    timeout client 60s
    timeout server 60s
    timeout check 5s

resolvers docker
    nameserver dns 127.0.0.11:53
    resolve_retries 10
    timeout resolve 5s
    timeout retry 1s
    hold valid 30s
    hold other 30s
    hold refused 30s
    hold timeout 30s
    hold obsolete 30s
    hold nx 5s

frontend patient_frontend
    bind *:8080
    http-request set-header X-Forwarded-Proto http
    default_backend patient_backend

backend patient_backend
    balance roundrobin
    option httpchk GET /actuator/health
    http-check expect status 200
    default-server inter 2s fall 5 rise 2 slowstart 5s
    server-template patient-service- 10 patient-service:8080 check resolvers docker resolve-prefer ipv4 init-addr last,libc,none
